// Mixins
// Bootstrap Button Variant
@mixin button-variant($color, $background, $border, $padding) {
  color: $color;
  border: none;

  padding: $padding;


  &.focus,
  &:focus {
    color: $color;
    border-color: darken($border, 25%);

  }
  &:hover {
    color: $color;
    border-color: darken($border, 12%);

  }
  &.active,
  &:active,
  .open > &.dropdown-toggle {
    color: $color;
    border-color: darken($border, 12%);

    &.focus,
    &:focus,
    &:hover {
      color: $color;
      border-color: darken($border, 25%);

    }
  }
  &.active,
  &:active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &.focus,
    &:focus,
    &:hover {
      border-color: $border;

    }
  }
  .badge {
    color: $background;
    background-color: $color;
  }
}
@mixin transition-all() {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin serif-font() {
  font-family: 'Lora', 'Times New Roman', serif;
}
@mixin sans-serif-font() {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


@mixin rounded($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin btn($padding, $border) {
  background-color: transparent;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  padding: $padding;

  &:hover {
    color: $border;
    border-color: darken($border, 12%);

  }

}