header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  color: #f39848;
}

@media (min-width: 840px) {
  .logo span {
    margin: 0 0 0 10px;
  }
}

#logo-img {
  width: 50px;
}

#logo-img:hover {
  animation: .5s linear 0s bounce;
}

.nav-vert {
  display: none;
}

.nav-vert .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  opacity: 0.6;
  z-index: -999;
}

.nav-vert .user-div {
  margin: 25vh 0 0 0;
  padding: 10px 50px;
}

.nav-vert .user-div .span {
  text-decoration: underline;
  color: #f39848;
  line-height: 1.5em;
  font-weight: 600;
}

@media (min-width: 840px) {
  .nav-vert {
    display: block;
    float: right;
  }
  .nav-vert .overlay {
    display: none;
  }
  .nav-vert .user-div {
    display: none;
  }
  .nav-vert .pads {
    display: inline-block;
    margin: 0px;
  }
  .nav-vert .pads ul {
    display: inline-block;
    margin: 0px;
  }
  .nav-vert .pads ul li {
    display: inline-block;
    padding: 0px 10px;
  }
  .nav-vert .pads ul li .list-item {
    color: inherit;
  }
}

.spacing {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.active {
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: bold;
}

.visible {
  animation: 0.5s linear 0s slidein;
  z-index: 999;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 60vw;
}

nav {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

nav ul {
  z-index: 999;
  padding: 0;
}

nav ul li {
  color: #3D41C2;
  transition: all .3s ease-in;
  padding: 10px;
}

nav ul li a {
  color: inherit;
}

nav ul li:hover {
  color: #f39848;
  transform: scale(1.2);
}

.button {
  background-color: transparent;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  padding: 8px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.button:hover {
  color: #f39848;
  border-color: #ee7810;
}

#toggle {
  display: inline-block;
}

@media (min-width: 840px) {
  #toggle {
    display: none;
  }
}
