
@import '../mxins.scss';

@import '../globals.scss';
.content-home {
  margin: 8px 0;

}
.spacin{
  display: block;
  @include desktop{
    display: flex;

    align-items: center;

    justify-content: space-around;
  }


}

.btn-primary{
  @include buton(10px 15px, $accent, $light, 5%)
}
.btn-secondary{
  @include buton(10px 15px, $cyan, $light, 2%)
}

.fa{
  font-size: 1.2em;
  padding: 5px;
  background-color: darken($light, 10%);
  border-radius: 50%;
}
.haf  {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  @include desktop{
    width: 50%;
    padding: 20px;
  }
}

.login-form{
  width: 75%;
  border: none;

  margin: 0 auto;
  padding: 16px 12px;
  justify-content: center;
.form-group {
  margin: 10px 0 10px 0;
  padding: 5px 0;
  text-align: center;
  input {
    padding: 12px;
    border: 1.5px solid $dark;
    width: 80%;
    margin: 0 auto;
    text-align: left;
  }

}
  .form-group-submit{
    margin-top: 50px;
.btn{
  display: block;
  margin:10px 0;
  text-align: center;
  @include desktop{
    display: inline-block;
    margin: 0;
    text-align: left;
  }

}

  }
  #forgot-password{
    @include transition-all();
    &:hover{
      color: $red;
      transform: scale(1.2);
     &::after{
       content: ':(';
     }
    }
  }
}

.slider {
  margin: 10px;
  overflow: hidden;
  height: 350px;
  figure {
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    height: 100%;
    animation: 25s slidy infinite;
    .slide {
      width: 25%;
      float: left;
      height: 100%;

      img {
        width: 100%;

      }
      .des {
        font-size: 1.5em;
        text-align: center;

      }
    }
  }
}

@keyframes slidy {
  0%{
    left: 0%;
  }
  15%{
    left:0%
  }
  17%{
    left: -100%;
  }
  32%{
    left: -100%;
  }
  34% {
    left: -200%;
  }

  49%{
    left: -200%;
  }

  51%{
    left:-300%
  }
  66% {
    left: -300%;
  }

  68%{
    left: -200%;
  }

  83%{
    left: -200%;
  }

  85%{
    left: -100%;
  }


}